<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>Student Form</title>
</head>

<body>

	<div class="container text-center mt-5">
	    <h2 class= "display-4 mb-5">Create Your Student Profile</h2>
	
	    <form th:action="@{/student/create}" th:object="${student}" method="post">
	
	        <label for="studentName">Full Name:</label>
	        <input type="text" th:field="*{studentName}" id="studentName" required/><br/><br/>
	
	        <label for="AM">AM:</label>
	        <input type="text" th:field="*{AM}" id="AM" required/><br/><br/>
	        
	        <label for="avgGrade">Average Grade:</label>
        	<input type="number" th:field="*{avgGrade}" id="avgGrade" step="0.1" required/><br/>
        	
        	<label for="preferredLocation">Preferred Location:</label>
        	<input type="text" th:field="*{preferredLocation}" id="preferredLocation" required/><br/>
        	
        	<!-- Interests Section -->
			<label>Interests:</label>
			<div id="interests-container">
			    <input type="text" th:field="*{interests[0]}" class="form-control mb-2" required/>
			</div>
			<button type="button" class="btn btn-sm btn-secondary mb-3" onclick="addField('interests-container', 'interests')">Add Interest</button><br/>
			
			<!-- Skills Section -->
			<label>Skills:</label>
			<div id="skills-container">
			    <input type="text" th:field="*{skills[0]}" class="form-control mb-2" required/>
			</div>
			<button type="button" class="btn btn-sm btn-secondary mb-3" onclick="addField('skills-container', 'skills')">Add Skill</button><br/>
	
	        <button type="submit"class="btn btn-info col-2">Create Profile</button>
	    </form>
	    
	</div>
	
	<script>
		function addField(containerId, fieldName) {
		    const container = document.getElementById(containerId);
		    const index = container.children.length;
		    const input = document.createElement("input");
		
		    input.setAttribute("type", "text");
		    input.setAttribute("name", fieldName + "[" + index + "]");
		    input.setAttribute("class", "form-control mb-2");
		    input.required = true;
		
		    container.appendChild(input);
		}
	</script>
</body>
</html>