<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>Homepage</title>
</head>


<body>
<div class="container text-center mt-5">

  <h2 class= "display-4 mb-5">Welcome to the Traineeship App!</h2>
 
  <div>
    <p>
    	<a th:href="@{/login}" class="btn btn-primary btn-lg mx-2" th:text="Login"></a>
    	<a th:href="@{/register}" class="btn btn-primary btn-lg mx-2" th:text="Register"></a>
    </p>
  </div>
    
</div>

</body>
</html>